@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Rubik+Glitch&display=swap');

body{
 background: rgb(56,150,124);
background: linear-gradient(22deg, rgba(56,150,124,1) 39%, rgba(131,247,209,1) 77%);
background-repeat: no-repeat;
height: 52vw;
}
.container{
    display: grid;
    justify-content: center;
    margin-top: 10vw;
    margin-left: 12vw;
    grid-template-columns: 20vw 20vw;
    width: max-content;
    box-shadow: 0px 0px 0.5pc black;
    border-radius: 10px;
 

}

.container_image{
    height: 30vw;
    width: 33vw;
    background: url('https://t3.ftcdn.net/jpg/05/20/04/56/360_F_520045644_p0HXbREt9zSLQmthKezfgIZxvd0nfQ7n.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.signup_container{
    width: 35vw;
    margin-left: 12vw;
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-family: 'Rubik Glitch', system-ui;
    height: 30vw;
    width: 40vw;
    box-shadow: 0px 0px 1pc black;
    border-radius: 10px;
}

.span{
    padding-top: 5%;
    padding-left: 7%;
    font-size: 25px;
}

form{
    display: flex;
    flex-direction: column;
    padding-left: 8%;
    
}

form input{
    width: 30vw;
    height: 3vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #60f4c3;
   
}

form input:nth-child(1){
    margin-top: 5%;
}

form input:focus {
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
.formbutton{
    width: 10vw;
    padding: 2%;
    margin-left: 30%;
    margin-top: 4%;
    background-color: transparent;
    border-radius: 15px;
    border-color: #11c88b;
    color: #1ce5a2 ;

}

form button:hover{
    background-color: #1ce5a2;
    color: black;
    cursor: pointer;
}



form p{
    margin-top: 3%;
   
}